{% extends "layout.html" %}

{% block title %}
Trade
{% endblock %}

{% block main %}
<div class="trade-container">
    <div class="trade-option">
        <button id="buy-btn" class="trade-btn">Buy</button>
        <button id="sell-btn" class="trade-btn">Sell</button>
    </div>
    <div class="trade-section gold-border">
        <div class="trade-details">
            <div>
                <select id="coin-select" class="trade-primary">
                    <option value="" class="trade-text" disabled selected>Select a coin</option>
                    {% for coin in coins %}
                    <option class="trade-text" value="{{ coin['id'] }}">{{ coin['name'] }}</option>
                    {% endfor %}
                </select>
                <div id="coin-price" class="trade-text"></div>
            </div>
            <div>
                <div id="cash-holdings" class="trade-text">Cash: ${{ "%.2f"|format(cash[0].cash) }}</div>
                <div id="coin-holdings" class="trade-text"></div>
            </div>
            <div>
                <h3 id="error-message"></h3>
                <input type="number" id="cash-input" placeholder="Enter cash amount" class="trade-primary">
                <input type="number" id="coin-amount" placeholder="Enter coin amount" class="trade-primary">
            </div>
            <button id="action-btn" class="buy-button">Buy</button>
        </div>
    </div>
</div>
{% endblock %}