{% extends "layout.html" %}

{% block title %}
Trade
{% endblock %}

{% block main %}
<div class="trade-container">
    <div class="trade-option">
        <button id="buy-btn" class="trade-btn">Buy</button>
        <button id="sell-btn" class="trade-btn">Sell</button>
    </div>
    <div class="trade-section gold-border">
        <div class="trade-details">
            <div>
                <select id="coin-select" class="trade-primary">
                    <option value="" disabled selected>Select a coin</option>
                    {% for coin in coins %}
                    <option value="{{ coin['id'] }}">{{ coin['name'] }} ({{ coin['symbol'] }}) </option>
                    {% endfor %}
                </select>
                <div id="coin-price"></div>
            </div>
            <div>
                <div id="cash-holdings">Cash: ${{ "%.2f"|format(cash[0].cash) }}</div>
                <div id="coin-holdings"></div>
            </div>
            <div>
                <h3 id="error-message"></h3>
                <form novalidate>
                    <input type="number" id="cash-input" placeholder="Enter cash amount" class="trade-primary">
                </form>
                <input type="number" step="0.000001" id="coin-amount" placeholder="Enter coin amount" class="trade-primary">
            </div>
            <button id="action-btn" class="buy-button">Buy</button>
        </div>
    </div>
</div>
{% endblock %}